.spot {
  list-style-type: none;
  cursor: pointer;
  color: blue;
  border: 1px solid;
  padding: 5px;
  background-color: rgb(236, 244, 247);
  /* width: 200%; */
}

.spot:hover {
  text-decoration: none;
  cursor: pointer;
  color: lightblue;
}
